# Ignore everything
*

# Except these
!.vim/**/*
!.config/
!.config/*/
!.config/alacritty/**/*
!.config/coc/**/*
!.config/Code/**/*
!.config/Code\ -\ OSS/**/*
!.config/cura/**/*
!.config/dim/**/*
!.config/discord/**/*
!.config/dolphin-emu/**/*
!.config/flameshot/**/*
!.config/google-chrome/**/*
!.config/gtk-3.0/**/*
!.config/gtk-4.0/**/*
!.config/helix/**/*
!.config/kde.org/**/*
!.config/kdeconnect/**/*
!.config/KeeWeb/**/*
!.config/libreoffice/**/*
!.config/nvim/**/*
!.config/plasma-workspace/**/*
!.config/smplayer/**/*
!.config/Ultimaker\ B.V./**/*
!.config/VirtualBox/**/*
!.config/vivaldi/**/*
!.config/vlc/**/*
!.config/wal/**/*
!.config/xsettingsd/**/*
#!.config/**/*
!.bashrc
!.bash_profile
!.tmux.config
!.vimrc
!README.md
!install.sh

!.gitignore_global
!.gitignore

# Ignore files/folders inside the allowed files/folders
# General
*.pem
*.crt
*.cer
*.ca-bundle
*.p7b
*.p7c
*.p7s
*.der
*.pfx
*.p12
*.key
*.keystore
*.jks
*.log
*.log.*
node_modules/
# Vivaldi Webbrowser
CertificateRevocation/
ClientSidePhishing/
Crash\ Reports/
GrShaderCache/
ShaderCache/
Safe\ Browsing/
ZxcvbnData/
Default/
# VSCode
Backups/
Cache/
CachedData/
CachedExtensions/
CachedExtensionVSIXs/
Code\ Cache/
exthost\ Crash\ Reports/
GPUCache/
Local\ Storage/
logs/
Session\ Storage/
User/
Cookies
# Discord
shared_proto_db/
TransportSecurity
# KeeWeb
OfflineFiles/
temp/
