# Ignore everything
*

# Except these
!.kde/
!.kde/**/*
!.vim/
!.vim/coc-settings.json
!.vim/plug.vim
!.vim/autoload/
!.vim/autoload/*
!.config/
!.config/rustfmt/
!.config/rustfmt/rustfmt.toml
!.config/plasma-org.kde.plasma.desktop-appletsrc
!.config/plasmarc
!.config/kwinrc
!.config/kglobalshortcutsrc
!.config/kwinrulesrc
!.config/khotkeysrc
!.config/kded5rc
!.config/krunnerrc
!.config/baloofilerc
!.config/plasmanotifyrc
!.config/plasma-localerc
!.config/ktimezonedrc
!.config/kaccessrc
!.config/kdeglobals
!.config/kcminputrc
!.config/kxkbrc
!.config/kgammarc
!.config/powermanagementprofilesrc
!.config/konsolerc
!.config/alacritty/
!.config/alacritty/**/*
!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
!.config/cura/
!.config/cura/**/*
!.local/
!.local/share/
!.local/share/cura/
!.local/share/cura/**/*
!.config/dim/
!.config/dim/config.toml
!.config/discord/
!.config/discord/settings.json
!.config/dolphin-emu/
!.config/dolphin-emu/**/*
!.config/flameshot/
!.config/flameshot/**/*
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/helix/
!.config/helix/config.toml
!.config/kde.org/
!.config/kde.org/**/*
!.config/kdeconnect/
!.config/kdeconnect/config
!.config/KeeWeb/
!.config/KeeWeb/window-position.json
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/selene.toml
!.config/nvim/neovim.yml
!.config/nvim/coc-settings.json
!.config/nvim/after/
!.config/nvim/after/**/*
!.config/nvim/lua/
!.config/nvim/lua/**/*
!.config/nixpkgs/
!.config/nixpkgs/home.nix
!.config/nixos/
!.config/nixos/**/*
!.config/plasma-workspace/
!.config/plasma-workspace/**/*
!.config/VirtualBox/
!.config/VirtualBox/**/*
!.config/vlc/
!.config/vlc/**/*
!.config/xsettingsd/
!.config/xsettingsd/**/*
!.bashrc
!.bash_profile
!.tmux.conf
!.vimrc
!README.md
!install.sh

!.gitignore_global
!.gitignore

# Ignore files/folders inside the allowed files/folders
# General
*.pem
*.crt
*.cer
*.ca-bundle
*.p7b
*.p7c
*.p7s
*.der
*.pfx
*.p12
*.key
*.keystore
*.jks
*.log
*.log.*
node_modules/
